<div class="card comment-card">
  <div class="card-header comment-header">
    {{user.username}}
  </div>
  <div class="card-body comment-body">
    <blockquote class="blockquote mb-0">
      <p>{{comment}}</p>
      <footer class="blockquote-footer">Posted {{format_date createdAt}}</footer>
    </blockquote>
  </div>
</div>