<div class=" card comment-card">
  <div class="comment-header">
    <h4>Posted by {{user.username}} on Date: {{format_date createdAt}}</h4>
  </div>
  <div class="comment-body">
    <p>
      "{{comment}}"
    </p>
  </div>
</div>