<div class="card">
  <div class="card-body">
    <a href="/posts/{{id}}" class="post-link">
      <h4>{{title}}</h4>
    </a>
    <p class="post-details">Posted by {{user.username}} on {{format_date createdAt}}</p>
  </div>
</div>