<form class=" mt-5 g-3 post-form">
  <h2 class="form-title mb-4">Create Post</h2>
  <div class="mb-3">
    <label for="title" class="form-label">Post Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="post" class="form-label">What would you like to share?</label>
    <input type="text" class="form-control" id="post" placeholder="Write your post here">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create Post</button>
  </div>
</form>

<script src="./js/newPost.js"></script>