<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Add Post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="email-login">Post Title: </label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="email-login">Write your post below: </label>
        <input class="form-input" type="text" id="post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/newPost.js"></script>