{{#if loggedIn}}
<h1 class="mt-5">Dashboard</h1>
<br>
<a href="/addpost"><button>Add Post</button></a>
<h2>Your Blog Posts</h2>
{{#each posts}}
{{> post-card}}
{{/each}}
{{else}}
<h1>You need to log in to view your Dashboard!</h1>
{{/if}}