{{#if loggedIn}}
<h1>Dashboard</h1>
<br>
<a href="/addpost">Add Post</a>
<h2>Your Blog Posts</h2>
{{#each posts}}
{{> post-card}}
{{/each}}
{{else}}
<h1>You need to log in to view your Dashboard!</h1>
{{/if}}