<div class="post-card">
  <div class="post-header">
    <h1>{{title}}</h1>
    <h2>Posted by {{user}} on {{date}}</h2>
  </div>
  <div class="post-body">
    <p>
      {{content}}
    </p>
  </div>
</div>