<form class="mt-5 g-3 signup-form">
  <h2 class="form-title">Excited to meet you. Please create your account below.</h2>
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="mb-3">
    <label for="email-login" class="form-label">Email</label>
    <input type="text" class="form-control" id="email-signup">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create User</button>
  </div>
</form>

<script src="./js/signup.js"></script>