.hidden {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
}

nav div {
  display: flex;
  padding: 1rem;
}

.logo {
  height: 75px;
}

.nav-link {
  font-size: 18px;
}

.nav-item {
  padding: 0 5px;
}

.card {
  border-radius: 10px;
}

#dark-header {
 color: white;
}

.post-link {
  text-decoration: none;
  color: #AFD4CB;
}

.post-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.post-link:link {
  text-decoration: none;
  opacity: 0.8;
}

.comment-card {
  
}

.footer {
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-block {
  display: relative
}

.update-card {
  width: 50%;;
}
