.hidden {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
}

nav div {
  display: flex;
  padding: 1rem;
}

#dark-header {
 color: white;
}

.post-link {
  text-decoration: none;
}

.post-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.post-link:link {
  text-decoration: none;
  opacity: 0.8;
}

footer {
  color: white;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
